* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input {
    padding: 10px 10px;
    width: 100%;
}

.text-center {
    text-align: center !important
}

.box-shadow {
    box-shadow: 0 0 7px #444 !important
}

.ti-angle-down {
    font-size: 10px;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
    overflow: hidden;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-3 {
    width: calc(100%/3);
}

.col-2 {
    width: calc(100%/2);
}

.fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


/* .container {} */

.header {
    background-color: black;
    bottom: unset;
    z-index: 1;
    height: 46px;
}

.header-nav-list {
    /* overflow: hidden; */
    height: inherit;
}

.header-nav-item {
    position: relative;
    float: left;
    color: white;
    padding: 15px 20px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
}

.header-nav-item a {
    display: block;
}

.header-nav-item:hover {
    color: black;
    background-color: #ccc;
}

.header-nav-item.search-btn {
    float: right;
    cursor: pointer;
}

.header-nav-item.search-btn:hover {
    background-color: red;
    color: white;
}

.header-nav-item .sub-nav-list {
    min-width: 10rem;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: white;
    text-transform: none;
    display: none;
}

.header-nav-item .sub-nav-item {
    color: black;
    padding: 13px;
}

.header-nav-item .sub-nav-item:hover {
    background: #ccc;
    color: #000;
}

.header-nav-item.sub-nav:hover .sub-nav-list {
    display: unset;
}

.content {
    margin-top: 46px;
}

.slide-show {
    background: url("../img/chicago.jpg") no-repeat;
    background-size: 100%;
    background-origin: padding-box;
    padding-top: 50%;
    position: relative;
}

.slide-show .slide-image {
    width: 100%;
}

.slide-show .slide-text {
    width: 100%;
    color: white;
    position: absolute;
    top: 80%;
    text-align: center;
    font-size: 15px;
}

.slide-show .slide-text-header {
    font-weight: 500;
}

.slide-show .slide-text-description {
    margin: 20px 0px;
    font-weight: bold;
}


/* .main-content {} */

.main-content>div {
    padding: 64px 0px;
}

.main-content-header {
    text-align: center;
}

.main-content-header h1 {
    letter-spacing: 4px;
    font-weight: 400px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
}

.main-content-header p {
    margin: 25px 0px;
    opacity: 0.7;
}

.main-content-container {
    width: 800px;
    max-width: calc(100% - 32px);
    margin: auto;
    overflow: hidden;
}

.the-band {
    color: black;
}

.the-band-description {
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 60px;
}

.member-name {
    margin-bottom: 15px;
}

.member-img {
    width: 60%;
    border-radius: 5px;
}

.tour-dates {
    background-color: black;
    color: white;
}

.tour-month-list {
    margin-bottom: 30px;
}

.tour-month-item {
    padding: 10px 15px;
    background-color: white;
    color: #777;
    border-bottom: 1px solid #ddd;
}

.sold-out {
    color: white;
    background-color: red;
    margin-left: 20px;
    padding: 3px 5px;
}

.on-stock {
    float: right;
    margin-right: 20px;
    color: white;
    border-radius: 20px;
    background-color: black;
    padding: 2px 7px;
}

.tour-location-list {
    background-color: black;
}

.tour-location-item {
    color: black;
    padding: 0px 8px;
    font-size: 14px;
}

.tour-img {
    width: 100%;
    vertical-align: bottom;
}

.tour-img:hover {
    opacity: 0.6;
}

.tour-text {
    padding: 15px;
    line-height: 1.5;
    background-color: white;
}


/* .tour-text .tour-name {} */

.tour-text .tour-time {
    margin: 20px 0px;
    opacity: 0.6;
}

.tour-text .tour-descrip {
    margin-bottom: 20px;
    font-size: 14px;
}

.tour-text .buy-ticket-btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
}

.tour-text .buy-ticket-btn:hover {
    color: #000;
    background-color: #ccc;
}

.buy-ticket.layout {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.open {
    display: unset !important;
}

.layout-container {
    width: 900px;
    max-width: calc(100% - 32px);
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    animation: showLayout 0.4s;
}

@keyframes showLayout {
    from {
        transform: translate(-50%, -90%);
        opacity: 0.4;
    }
    to {
        transform: translate(-50%, -60%);
        opacity: 1;
    }
}

.header-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    font-size: 13px;
    cursor: pointer;
    color: white;
}

.layout-header {
    width: 100%;
    text-align: center;
    padding: 40px 0px;
    background-color: #009688;
    color: white;
    font-size: 25px;
    letter-spacing: 5px;
}

.layout-content,
.layout-footer {
    padding: 15px;
}

.layout-form input {
    margin: 10px 0px 20px;
    border: 1px solid #ccc;
}

.layout-form button[type="submit"] {
    width: 100%;
    padding: 20px 0px;
    color: white;
    background-color: #009688;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.layout-footer {
    overflow: hidden;
}

.footer-close-btn {
    float: left;
    background-color: red;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

.footer-close-btn .ti-close-footer {
    font-size: 10px;
}

.footer-text {
    float: right;
    padding-top: 20px;
}

.footer-text a {
    color: violet;
    text-decoration: underline;
}

.header-close-btn:hover,
.layout-form button:hover,
.footer-close-btn:hover {
    color: black;
    background-color: #ccc;
}

.contact-info-item {
    padding: 5px 0px;
}

.contact-info-item span {
    padding-left: 10px;
}

.contact-form input {
    border: 1px solid #ccc
}

.contact-form input[name="message"] {
    margin-top: 10px;
}

.contact-form button[type="submit"] {
    float: right;
    margin: 15px 0px;
    padding: 13px 20px;
    color: white;
    background-color: black;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    color: black;
    background-color: #ccc;
}

.map img {
    width: 100%;
    filter: grayscale(50%);
}

.footer {
    text-align: center;
    color: #777;
}

.footer .icon {
    margin-bottom: 25px;
    font-size: 22px;
}

.footer .icon i:hover {
    opacity: 0.6;
}

.footer .source {
    margin-bottom: 70px;
    font-size: 14px;
}

.footer .source a {
    text-decoration: underline;
}